@keyframes slide-in {
  from {
    transform: translateX(100%) translateY(100%); // Стартуем за пределами экрана по обеим осям
    opacity: 0;
  }

  to {
    transform: translateX(0) translateY(0); // Возвращаемся в исходное положение
    opacity: 1;
  }
}

.widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  .custom_handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-image: url('../../../features/OpenChatButton/assets/arrow.svg');
    opacity: 0.75;
    border-radius: 4px;
  }

  .custom_handle_nw {
    top: 1px;
    left: 1px;
    cursor: nw-resize;
  }

  .window {
    background-color: #f5fcfe;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border-radius: 5px;
    position: fixed;
    bottom: 90px;
    right: 90px;
    display: flex;
    flex-direction: column;
    animation: slide-in 0.5s ease-out forwards;
    transform: translateX(100%) translateY(100%);
    opacity: 0;

    .rating {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      transform: translateY(-4px);
      z-index: 2;
    }

    .header {
      display: flex;
      justify-content: space-between;
      background-color: #f9d156;
      border-radius: 5px;
      padding: 15px 10px;

      .title {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
      }

      .closeChat {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
      }
    }
  }
}

@media (width <=890px) {
  .widget {
    bottom: 2px;
    right: 2px;

    .custom_handle {
      display: none;
    }

    .window {
      box-shadow: 0 0 10px rgb(0 0 0 / 20%);
      border-radius: 5px;
      bottom: 20px;
      right: 50px;

      .header {
        padding: 8px 4px;

        .title {
          font-size: 10px;
          font-weight: 400;
          line-height: 13px;
        }

        .closeChat {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}