.widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  .window {
    width: 300px;
    background-color: rgb(222 211 211);
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    padding: 20px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: flex;
    flex-direction: column;
  }
}
