.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .formGroup {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .label {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type='checkbox'] {
    margin-right: 5px;
  }

  .submitButton {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 16px;

    &:hover {
      background-color: #45a049;
    }
  }
}
