.chat {
  background-color: white;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  height: 364px;
  overflow-y: auto;
}

.messageForm {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #D0E9FA;


  .messageInput {
    border: 0;
    min-height: 65px;
    padding: 10px;
    max-width: 100%;
    resize: none;
    box-sizing: border-box;
    outline: none;
  }

}

$userMessageColor: #D4EEFD;
$botMessageColor: white;

.userMessage,
.botMessage {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 10px 10px;
  padding: 10px 15px;
  border-radius: 14px;
  border: 1px solid #BABFC3;
  word-wrap: break-word;
  opacity: 0;
  animation: fade 0.4s ease-in forwards;

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


  &.userMessage {
    align-self: flex-end;
    background-color: $userMessageColor;
  }

  &.botMessage {
    align-self: flex-start;
    background-color: $botMessageColor;
  }

  .titleWrapper {
    display: flex;
    margin-bottom: 5px;
    font-size: 12px;

    p {
      margin: 0;
    }

    .timestamp {
      color: #BABFC3;
      word-wrap: break-word;
      align-self: center;
    }

    .sender {
      color: #5E5F5E;
      margin-right: 5px;
    }
  }
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 24px;
  outline: none;
}

.emojiPanel {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 5px;

  .emoji {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 24px;
  }
}